<div class="row">
  <div class="col s3"></div>
  <div class="col s6 center teal-text"><h3>Booking Overview</h3></div>
</div>
<div class="col s3"></div>
<div class="row">
  <div class="col l3"></div>
  <div class="col l6">
    <div class="row center teal lighten-3 white-text center overviewheadrow">
      <div class="col l2"><strong>Datum</strong></div>
      <div class="col l1"><strong>Tijd</strong></div>
      <div class="col l2"><strong>Massage</strong></div>
      <div class="col l1"><strong>Duur</strong></div>
      <div class="col l3"><strong>Klant</strong></div>
      <div class="col l3"><strong>Status</strong></div>
    </div>
    <div class="row">
      <div *ngFor="let booking of bookings$|async">
        <div *ngFor="let user of users$|async">
          <div *ngIf="booking.status!=='DELETED'">
            <a (click)="openViewBookingModal(booking.id!, user.id!)">
              <div class="row overviewrow center" *ngIf="user.id == booking.userUid">
                <div class="col l2"> {{booking.date}}</div>
                <div class="col l1"> {{booking.time}}</div>
                <div class="col l2"> {{booking.massage}}</div>
                <div class="col l1"> {{booking.duration}}</div>
                <div class="col l3">{{user?.firstName}} {{user?.lastName}}</div>
                <div class="col l3">{{booking.status}}</div>
              </div>
            </a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col l3"></div>

</div>
<div id="viewBookingModal" class="modal">
  <div class="modal-content">
    <div class="row">
      <div *ngIf="selectedBooking as booking">
        <div *ngIf="selectedUser as user">
          <div class="row teal lighten-3 white-text overviewheadrow">
            <div class="col m12 overviewcol center"><strong>{{user.firstName}} {{user.lastName}}</strong></div>
          </div>
          <div class="row teal lighten-3 white-text overviewheadrow">
            <div class="col m2"><strong>Datum</strong></div>
            <div class="col m2"><strong>Tijd</strong></div>
            <div class="col m3"><strong>Massage</strong></div>
            <div class="col m2"><strong>Duur</strong></div>
            <div class="col m3"><strong>Status</strong></div>
          </div>
          <div class="row overviewrow">
            <div class="col m2 overviewcol">{{booking.date}}</div>
            <div class="col m2 overviewcol">{{booking.time}}</div>
            <div class="col m3 overviewcol">{{booking.massage}}</div>
            <div class="col m2  overviewcol">{{booking.duration}}</div>
            <div class="col m3  overviewcol">{{booking.status}}</div>
          </div>
          <div class="row teal lighten-3 white-text overviewheadrow">
            <div class="col m12 center"><strong>Boodschap</strong></div>
          </div>
          <div class="row overviewrow">
            <div class="col m12 overviewcol center">{{booking.personalMessage}}</div>
          </div>
          <div class="row">
            <div class="col m3 center">
              <a class="btn" *ngIf="booking.status!=='confirmed'" (click)="confirmBooking(booking.id)">Confirm</a>
            </div>
            <div class="col m3 center">
              <a class="btn" *ngIf="booking.status!=='cancelled'" (click)="cancelBooking(booking.id)">Cancel</a>
            </div>
            <div class="col m3 center">
              <a class="btn">Edit</a>
            </div>
            <div class="col m3 center">
              <a class="btn-small" (click)="deleteBooking(booking.id)"><small>DELETE</small></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
</div>
