<div class="row"></div>
<div class="row">
  <div class="col l3"></div>
  <div class="col l6">
    <div class="row">
      <div class="row">
        <div class="col l2">Datum</div>
        <div class="col l1">Tijd</div>
        <div class="col l2">Massage</div>
        <div class="col l1">Duur</div>
        <div class="col l3">Klant</div>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let booking of bookings$|async">
        <div *ngFor="let user of users$|async">
          <div class="row" *ngIf="user.id == booking.userUid">

            <div class="col l2"> {{booking.date}}</div>
            <div class="col l1"> {{booking.time}}</div>
            <div class="col l2"> {{booking.massage}}</div>
            <div class="col l1"> {{booking.duration}}</div>
            <div class="col l3">{{user?.firstName}} {{user?.lastName}}</div>
            <div class="col"><a class="btn-small waves-teal waves-effect">view</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col l3"></div>

</div>
