<div class="row"></div>
<div class="row">
  <div class="col s1"></div>
  <div class="col s10">
    <div class="row">
      <div class="col m1">Massage</div>
      <div class="col m1">Datum</div>
      <div class="col m1">Tijdstip</div>
      <div class="col m1">Duur</div>
      <div class="col m2">Klant ID</div>
      <div class="col m2">Persoonlijke boodschap</div>
      <div class="col m2">Aangevraagd op</div>
      <div class="col m1">Status</div>
    </div>

    <div class="row" *ngFor="let booking of bookings$ | async">
      <div class="col m1">{{booking.massage}}</div>
      <div class="col m1">{{booking.date}}</div>
      <div class="col m1">{{booking.time}}</div>
      <div class="col m1">{{booking.duration}}</div>
      <div class="col m2"> {{bookingUserFullName}}</div>
      <div class="col m2"> {{booking.personalMessage}}</div>
      <div class="col m2"> {{booking.requestedOn}}</div>
      <div class="col m1">
        <button (click)="inheritSelectedBookingProperties(booking.uid, booking.status); setUserName(booking.userUid)"> {{booking.status}} </button>
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>
<div id="statusmodal" class="modal">
  <div class="modal-content">
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col">Datum</div>
          <div class="col">Tijdstip</div>
          <div class="col">Massage</div>
          <div class="col">Duur</div>
          <div class="col">Klant</div>
          <div class="col">Persoonlijke boodschap</div>
        </div>
        <div *ngIf="booking$ | async as booking" class="row">
          <div class="col">{{booking.date}}</div>
          <div class="col">{{booking.time}}</div>
          <div class="col">{{booking.massage}}</div>
          <div class="col">{{booking.duration}}</div>
          <div class="col">{{bookingUserFullName}}</div>
          <div class="col">{{booking.personalMessage}}</div>

        </div>
      </div>
    </div>
    <div *ngIf="changeBookingStatus!=='confirmed'">
      Klik op bevestig Indien u deze boeking wilt bevestigen.
      <a class="btn-small waves-teal waves-effect" (click)="confirmBooking(changeBookingStatusId!)">Bevestig</a>
    </div>
    <div *ngIf="changeBookingStatus==='confirmed'">
      Klik op annnuleer indien u deze boeking wilt annuleren.
      <a class="btn-small waves-teal waves-effect" (click)="cancelBooking(changeBookingStatusId!)">Annuleer</a>
    </div>
  </div>
  <div class="modal-footer">

  </div>
</div>
