<nav class="nav-extended teal lighten-3 hide-on-small-and-down">
  <div class="nav-wrapper">
    <div class="col">
      <ul class="left">
        <li>
          <a routerLink="/home"> Home </a>
        </li>
        <li>
          <a routerLink="/about">About</a>
        </li>
        <li>
          <a routerLink="/massages">Massages</a>
        </li>
        <li>
          <a routerLink="/contact">Contact</a>
        </li>
        <li>
          <a *ngIf="!afAuthService.userLoggedIn" [routerLink]="['/', 'login']">Boek een Massage</a></li>
      </ul>
    </div>
    <div class="col right">
      <ul class="right">
        <li *ngIf="!(afAuthService.userLoggedIn)">
          <button class="waves-teal waves-effect btn" routerLink="/signup">
            Signup
          </button>
        </li>
        <li> &nbsp;</li>
        <li *ngIf="!(afAuthService.userLoggedIn)">
          <button class="waves-teal waves-effect btn" routerLink="/login">
            Login
          </button>
        </li>
        <li *ngIf="(afAuthService.userLoggedIn)">
          <button class="waves-teal waves-effect btn" (click)="logout()">
            Log out
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="afAuthService.userLoggedIn">
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a [routerLink]="['/','users',afAuthService.getUserUid(),'profile']">Mijn Profiel</a></li>
        <li class="tab"><a [routerLink]="['/', 'users', afAuthService.getUserUid(), 'booking-overview']">Mijn Boekingen</a>
        </li>
        <li class="tab"><a [routerLink]="['/', 'users',afAuthService.getUserUid(), 'bookmassage']">Boek een Massage</a>
        </li>
      </ul>
    </div>
    <div class="nav-content" *ngIf="isAdmin">
      <ul class="tabs tabs-transparent">
        <li class="tab">Admin panel:</li>
        <li class="tab">
          <a [routerLink]="['/', 'users', 'overview']">View All User</a>
        </li>
        <li class="tab">
          <a [routerLink]="['/','bookings','overview']">View All Bookings</a>
        </li>
        <li class="tab">
          <a [routerLink]="['/', 'timeslots', 'overview']">View Timeslots</a>
        </li>
        <!--<li class="tab">
          <a>Create User</a>
        </li>
        <li class="tab">
          <a>Create Massage</a>
        </li>-->
        <li class="tab">
          <a [routerLink]="['/', 'timeslots', 'create-timeslot']">Create Timeslot</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- mobile navbar -->
<div class="hide-on-med-and-up">

  <a href="#" data-target="sidenav" class="sidenav-trigger"><i class="medium material-icons">menu</i></a>
  <ul id="sidenav" class="sidenav teal lighten-5 ">
    <li>
      <a href="#"> Home </a>
    </li>
    <li>
      <a routerLink="/about">About</a>
    </li>
    <li>
      <a routerLink="/massages">Massages</a>
    </li>
    <li>
      <a routerLink="/contact">Contact</a>
    </li>
    <li>
      <a *ngIf="!afAuthService.userLoggedIn" [routerLink]="['/', 'login']">Boek een Massage</a>
    </li>
    <li>
      <div class="mobile-user-nav" *ngIf="afAuthService.userLoggedIn">
        <ul>
          <li class="mobile-user-nav-link"><a [routerLink]="['/','users',afAuthService.getUserUid(),'profile']">Mijn
            Profiel</a></li>
          <li class="tab"><a [routerLink]="['/', 'users', afAuthService.getUserUid(), 'booking-overview']">Mijn Boekingen</a></li>
          <li class="tab">
            <a [routerLink]="['/', 'users',afAuthService.getUserUid(), 'bookmassage']">Boek een Massage</a>
          </li>
        </ul>
        <div class="mobile-user-nav" *ngIf="isAdmin">
          <ul>
            <li class="tab">Admin panel</li>
            <li class="mobile-user-nav-link">
              <a [routerLink]="['/', 'users', 'overview']">View All User</a>
            </li>
            <li class="mobile-user-nav-link">
              <a [routerLink]="['/','bookings','overview']">View All Bookings</a>
            </li>
            <li class="mobile-user-nav-link">
              <a [routerLink]="['/', 'timeslots', 'overview']">View Timeslots</a>
            </li>
            <li class="mobile-user-nav-link">
              <a>Create User</a>
            </li>
            <li class="mobile-user-nav-link">
              <a>Create Massage</a>
            </li>
            <li class="mobile-user-nav-link">
              <a [routerLink]="['/', 'timeslots', 'create-timeslot']">Create Timeslot</a>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li *ngIf="!(afAuthService.userLoggedIn)">
      <a routerLink="/signup">
        Signup
      </a>
    </li>
    <li *ngIf="!(afAuthService.userLoggedIn)">
      <a routerLink="/login">
        Login
      </a>
    </li>
    <li *ngIf="(afAuthService.userLoggedIn)">
      <a (click)="logout()">
        Log out
      </a>
    </li>
  </ul>
</div>
