<header>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <div class="row">
        <div class="col s1">
          <a id="logo-container" href="#" class="brand-logo">Logo</a>
        </div>
        <div class="col black-text ">
          <ul>
            <li>
              <a href="#"> Home </a>
            </li>
            <li>
              <a href="#">About</a>
            </li>
            <li>
              <a href="#">Massages</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
            <li>
              <a href="#"> Book a Massage</a>
            </li>
          </ul>
        </div>
        <div class="col">
          <ul class="right">
            <li>
              <div *ngIf="!(afAuth.user|async)">
                <button class="waves-effect waves-light btn-small" routerLink="/signup">
                  Signup
                </button>
              </div>
            </li>
            <li>
              <div *ngIf="!(afAuth.user|async)">
                <button class="waves-effect waves-light btn-small" routerLink="/login">
                  Login
                </button>
              </div>
            </li>
            <li>
              <div *ngIf="(afAuth.user | async)">
                <button class="waves-effect waves-light btn-small" routerLink="/dashboard">
                  Dashboard
                </button>
              </div>
            </li>
            <li>
              <div *ngIf="(afAuth.user | async)">
                <button class="waves-effect waves-light btn-small" (click)="logout()">
                  Log out
                </button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
