<div class="parallax-container">
  <div class="container center white-text">
    <i class="large material-icons">person</i> <h1>About me</h1>
  </div>
  <div class="parallax"><img class="responsive-img" src="../../assets/img/home/lake.jpg" alt="">
  </div>
</div>
<div class="container">
  <div class="row">

    <p class="about">
      In mijn kinderjaren merkte ik al op dat ik een zorgende persoon was.
      In mijn jonge jaren vond ik het al leuk om mensen te masseren aan de nek en schouders.
      Ik hoorde al van enkele mensen dat ik er ook een goed gevoel voor heb in de handen.


      Het was dan ook ooit mijn droom om hierin verder te gaan en een diploma-attest te behalen.

      Na het behalen van mijn bachelor Sociaal Werk ging ik reizen.
      Door het reizen in o.a. Aziatische landen werd ik ook vaak geprikkeld door de verschillende types van
      massages.
    </p>


    <p class="about">

      Het was mooi om te zien hoe elke cultuur ook zijn eigen nadruk legt tijdens de behandeling.
      Na prachtige delen van de wereld gezien te hebben, was ik klaar om verder te gaan met mijn diploma en passie.
      Ik schreef mij terug in bij dansschool ElevationDanceCademy.


      Het dansen heb ik jaren gemist en ik wilde voluit gaan.
      Meer bewustwording over mijn lichaam in combinatie met sport zette me terug aan het denken over massages.
      Ik twijfelde niet en schreef mij in bij Welness Academy in Drongen.
      Ik behaalde mijn diploma op 13 januari 2018.
      Ik begon te werken als masseuse bij Welness centra Villa Aqua te Oostende.
    </p>

    <p class="about">


      Ik heb er een jaar lang ervaring kunnen opdoen en leuke mensen leren kennen.
      Na een jaar werd ik meer zelfzeker in mijn massages.
      Klanten waren tevreden en vroegen soms als ik werkte in onderaanneming.
      Dit zette mij aan het denken om zelfstandig te worden.


      Daarnaast begon ik ook te werken bij Buurtsport te Brugge.
      Hierbij geef ik sport- en spelactiviteiten aan kansarme kinderen in kwetsbare wijken.
      Na kiezen voor deze halftijdse job, kon ik veilig kiezen om zelfstandig te worden in bijberoep.
      Door het uitvoeren van verschillende sporten kreeg ik meer interesse in de specifieke massage van
      verschillende spieren.
      Op 8 december 2018 behaalde ik mijn attest van Sportmasseuse.
    </p>

    <p class="about">

      In Februari 2020 werd ik officieel zelfstandig.
      Het duurde niet lang voor corona opdaagde.
      Ik had het voordeel dat mijn salon nog veel renovatiewerk nodig had.
      Professionelen kwamen niet opdagen dus ik deed bijna alle renovatiewerken alleen; boor werken, plamuren,
      schuren, schilderen, de vloer egaliseren en vinyl leggen.


      Het is een groot avontuur geweest met vallen en opstaan. Door corona waren toch alle zaken gesloten en zo kon
      ik zonder haast verder werken.
      Op 3 augustus 2020 werd de officiele opening gehouden van het massagesalon.
      Ik nodigde een kleine kring van familie uit, alsook de burgemeester Bart Tommelein.
      Na 2 maanden was er een vast clienteel van 30 klanten.
    </p>
    <p class="about">
      Ik ben trots en benieuwd wat de toekomst zal brengen.
      We leven in een maatschappij die veel verwacht en ons oplegt.
      Hierdoor besef ik dan maar al te goed wat het belang is om op tijd je te laten ontspannen en de stress weg te
      werken. We leven om een zo gelukkig mogelijk leven te leiden en te kunnen bijdragen aan iets groter. Hiervoor
      heb je je eigen energie nodig en deze kan ik helpen tot leven wekken.
    </p>
    Sofie
  </div>
</div>
