<div class="container">
  <div class="row"></div>
  <div class="row">
    <div class="col s3"></div>
    <div class="col s6">
      <form [formGroup]="loginForm" (ngSubmit)="loginUser()" type="">
        <div class="row">
          <label>E-mail</label></div>
        <div class="row">
          <input autocomplete="off" class="email" formControlName="email" type="email" placeholder="E-mail">
        </div>
        <div class="row">
          <label>Paswoord</label></div>
        <div class="row">
          <input autocomplete="off" formControlName="password" type="password" placeholder="Paswoord">
        </div>
        <div class="row">
          <div *ngIf="firebaseErrorMessage != ''" class="error-style">
            <span>{{ firebaseErrorMessage }}</span>
          </div>
        </div>
        <div class="row center">
          <button class="btn-large waves-teal waves-effect">Login</button>
        </div>
      </form>
      <div class="row">
        <a (click)="wantsPasswordReset()"><label>Paswoord vergeten?</label></a>
      </div>
      <ng-template [ngIf]="passwordReset">
        <div class="row">
          <input autocomplete="off" type="email" placeholder="e-mail adres" #resetpw>
        </div>
        <div class="row center">
          <button class="btn-small waves-teal waves-effect" (click)="resetPassword(resetpw.value)">reset paswoord
          </button>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="col s3"></div>
</div>
