<div class="container">
  <div class="row"></div>
  <div class="row">
    <div class="col s3"></div>
    <div class="col s6">

      <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
        <div class="row">
          <label>E-mail</label></div>
        <div class="row">
          <input autocomplete="off" class="email" formControlName="email" type="email" placeholder="E-mail">
        </div>
        <div class="row">
          <label>Paswoord</label></div>
        <div class="row">
          <input autocomplete="off" formControlName="password" type="password" placeholder="Paswoord">
        </div>
        <div class="row">
          <div *ngIf="firebaseErrorMessage != ''" class="error-style">
            <span>{{ firebaseErrorMessage }}</span>
          </div>
        </div>
        <div class="row center">
          <button class="btn-large waves-teal waves-effect">Login</button>
        </div>
      </form>
    </div>

  </div>

  <div class="col s3"></div>

</div>

<ng-container>
  <div class="modal" id="googleSignIn">
    <div class="modal-content">
      <div id="g_id_onload"
           data-client_id="YOUR_CLIENT_ID"
           data-callback="handleCredentialResponse">
      </div>
      <div class="g_id_signin" data-type="standard"></div>
    </div>
    <div class="modal-footer"></div>
  </div>
</ng-container>
