<div class="parallax-container valign-wrapper">
  <div class="container center-block center-align white-text">
    <i class="large material-icons">favorite</i>
    <h1>Massages</h1>
  </div>
  <div class="parallax"><img class="responsive-img" src="../../../assets/img/home/sea.jpg" alt="">
  </div>
</div>
<div class="row"></div>
<div class="container">
  <div class="row center-align center-block">
    <div class="col s12">
      <div class="col l2 m3 s4">

      </div>
      <div class="col overviewheadrow teal lighten-3 white-text l2 m3 s2">
        <p>15'</p>
      </div>
      <div class="col overviewheadrow teal lighten-3 white-text l2 m3 s2">
        <p>30'</p>
      </div>
      <div class="col overviewheadrow teal lighten-3 white-text l2 m3 s2">
        <p>60'</p>
      </div>
      <div class="col overviewheadrow teal lighten-3 white-text l2 m3 s2">
        <p>90'</p>
      </div>
    </div>

    <div class="row">
      <div class="col overviewheadrow teal lighten-3 white-text l2 m3 s4">

        <h6>Ontspannende Massage</h6>
        <small>rustige massage met warme olie</small>
      </div>
      <div class="col l2 m3 s2">

      </div>
      <div class="col massageprice l2 m3 s2">
        <p>30€</p>
      </div>
      <div class="col massageprice l2 m3 s2">
        <p>60€</p>
      </div>
      <div class="col massageprice l2 m3 s2">
        <p>85€</p>
      </div>
    </div>

    <div class="row">
      <div class="col overviewheadrow teal lighten-3 white-text   l2 m3 s4">
        <h6>Boost Massage</h6>
        <small>massages voor zware benen en betere doorbloeding</small>
      </div>
      <div class="col massageprice l2 m3 s2">
        <p>20€</p>
      </div>
      <div class="col massageprice l2 m3 s2">
        <p>35€</p>
      </div>
      <div class="col l2 m3 s2">

      </div>
      <div class="col l2 m3 s2">

      </div>
    </div>

    <div class="row">
      <div class="col overviewheadrow teal lighten-3 white-text l2 m3 s4">
        <h6>Sport Massage</h6>
        <small>Activerende-ontladende massage voor de spieren</small>
      </div>
      <div class="col massageprice l2 m3 s2">
        <p>25€</p>
      </div>
      <div class="col massageprice l2 m3 s2">
        <p>40€</p>
      </div>
      <div class="col  l2 m3 s2">

      </div>
      <div class="col l2 m3 s2">

      </div>
    </div>

    <div class="row">
      <div class="col overviewheadrow teal lighten-3 white-text   l2 m3 s4">
        <h6>Anti-stress Massage</h6>
        <small>hardere massage bovenlichaam, met nadruk op stresspunten.</small>
      </div>
      <div class="col massageprice l2 m3 s2">
        <p>20€</p>
      </div>
      <div class="col massageprice l2 m3 s2">
        <p>35€</p>
      </div>
      <div class="col l2 m3 s2">

      </div>
      <div class="col l2 m3 s2">

      </div>
    </div>

    <div class="row">
      <div class="col overviewheadrow teal lighten-3  white-text  l2 m3 s4">
        <h6>Scrub Massage</h6>
        <small>verfrissende activerende massage met scrubzout</small>
      </div>
      <div class="col massageprice l2 m3 s2">
        <p>20€</p>
      </div>
      <div class="col massageprice l2 m3 s2">
        <p>35€</p>
      </div>
      <div class="col massageprice l2 m3 s2">
        <p>65€</p>
      </div>
      <div class="col massageprice l2 m3 s2">
        <p>90€</p>
      </div>
    </div>
  </div>
  <p> *Cadeaubon* </p><br>

  <p>
    Voor het perfecte cadeau moet u niet meer verder zoeken.
    Met een cadeaubon van Sorelax kan u iedereen een groot plezier doen.<br>
    De cadeaubonnen hebben geen vervaldatum.
  </p>
  <p>
    1. Laat mij weten via mail/sms dat u een cadeaubon wenst te kopen<br>
    2. U geeft mij het gekozen bedrag/type massage die u wenst te geven aan de gelukkige<br>
    3. Betaal het bedrag cash of via overschrijving<br>
    4. U kan de bon afhalen bij Sorelax of ik lever de cadeaubon gratis bij u (regio Oostende)<br>
  </p>
  <p>
    De enveloppe is niet gesloten. Zo kan u de bon, indien gewenst, nog personaliseren.<br>
    Bij deze bon wordt er een visitekaartje geleverd van de zaak.
  </p>

</div>
