<div class="row"></div>
<div class="row">
  <div class="col l3 s2"></div>
  <div class="col l6 s8">
    <form [formGroup]="bookingForm">
      <div class="row">
        <div *ngFor="let m of dbMassages | async">
          {{m.type}} {{m.duration}}
        </div>
        <div class="col l6 s12">
          <label>Massage</label>
          <div class="input-field">
            <button (click)="openModalMassageSelection()">select massage</button>
            <select formControlName="massage" (change)="changeMassage($event, massage)">
              <option *ngFor="let massage of dbMassages | async">
                {{massage.type}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">

      </div>

      <div class="row">
        <div class="col l3">
          <label>Timeslot</label>
          <div class="row">
            <div class="col input-field">
              <button class="btn-small waves-effect waves-teal" (click)="openModalTimeslotSelection()">Selecteer
                Timeslot
              </button>
              <div class="col teal-text" *ngIf="confirmedTimeslot">
                <br>You selected: {{confirmedTimeslot.date}} {{confirmedTimeslot.time}}
              </div>
            </div>
          </div>
        </div>
        <div class="col l2">
          <label>tijdsduur</label>
          <div class="input-field">
            <div *ngIf="dbMassages|async as massages$">
              <select formControlName="duration" class="select-dropdown validate" [value]="duration"
                      (change)="changeDuration($event)">
                <option *ngFor="let duration of dbMassage|async">
                  {{duration}}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col l6">
          <label>Nuttige informatie / toevoegingen</label>
          <textarea formControlName="message" class="materialize-textarea validate"></textarea>
        </div>
      </div>

      <div class="row">
        <div class="col l6">
          <a class="btn-large waves-effect waves-teal" (click)="openModalBookingConfirmation()">Boek Massage</a>
        </div>
      </div>

    </form>
  </div>
  <div class="col l3 s2">
  </div>

  <div id="bookingModal" class="modal">
    <div class="modal-content">
      <h4>Confirm Booking</h4>
      <p>Please confirm Booking by pressing the confirm button</p>
    </div>
    <div class="modal-footer">
      <a (click)="bookMassage()" class="modal-close waves-effect waves-green btn-large">Confirm</a>
    </div>
  </div>
  <div id="timeslotModal" class="modal">
    <div class="modal-content">
      <h4>Timeslots</h4>
      <p>Select a Timeslot</p>
      <div>
        <div class="row center">
          <div class="col l2"><strong>Date</strong></div>
          <div class="col l1"><strong>Time</strong></div>
          <div class="col l3"><strong>Select</strong></div>
        </div>

        <div class="row center" *ngFor="let timeslot of timeslots$ | async">
          <div *ngIf="timeslot.isAvailable">
            <div class="col l2 overviewcol">{{timeslot.date}}</div>
            <div class="col l1 overviewcol">{{timeslot.time}}</div>
            <div class="col l3 overviewcol">
              <button (click)="selectTimeslot(timeslot)" class="waves-effect waves-teal btn-small">
                Select
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div *ngIf="selectedTimeslot as t">
          <p>You selected: {{t.date}} {{t.time}}</p>
          <button (click)="confirmTimeslot()" class="modal-close waves-effect waves-teal btn-large">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>


  <div id="massageModal" class="modal">
    <div class="modal-content">
      <h4>Massages</h4>
      <p>Select a massage</p>
      <div>
        <div class="row center">
          <div class="col l6"><strong>Massage</strong></div>
          <div class="col l6"><strong>Available durations</strong></div>

        </div>

        <div class="row center" *ngFor="let massage of dbMassages | async">

          <div class="col l6 overviewcol"><button (click)="selectMassage(massage.type)">{{massage.type}}</button></div>
          <div class="col l6 overviewcol">
            <button (click)="selectDuration(massage.duration.toString())">{{massage.duration}}</button>
          </div>


        </div>
        <div class="modal-footer">
          <div *ngIf="selectedMassage as m">
            <div *ngIf="selectedDuration as d">
              <p>You selected: {{m}} {{d}}</p>
              <button (click)="confirmMassage()" class="modal-close waves-effect waves-teal btn-large">
                Confirm
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
