<div class="container">
  <div class="row center center-block center-align">
    <div class="col s12 teal-text"><h3>Booking Overview</h3></div>
  </div>
  <div class="row center center-block center-align">
    <div class=" col s12">
      <div class="row">
        <div class="col l2 s3">
          <label for="filter_klant">filter op klant</label>
          <input id="filter_klant" class="input-field teal-text" [(ngModel)]="searchName">
        </div>
        <div class="col l2 s3">
          <label for="filter_datum">filter op datum</label>
          <input id="filter_datum" class="input-field teal-text" [(ngModel)]="searchDate">
        </div>
        <div class="col l2 s3">
          <label for="filter_status">filter op status</label>
          <select id="filter_status" class="select-dropdown teal-text" [(ngModel)]="searchStatus">
            <option value="">show all</option>
            <option value="confirmed">confirmed</option>
            <option value="cancelled">cancelled</option>
            <option value="pending">pending</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="row center center-block center-align">
    <div class="col s12">
      <!--<div class="row center teal lighten-3 white-text center overviewheadrow">
        <div class="col l2 s3"><i class="material-icons">calendar_month</i></div>
        <div class="col l1 s2"><i class="material-icons">schedule</i></div>
        <div class="col l2 s1"><i class="material-icons">spa</i></div>
        <div class="col l1 s2"><i class="material-icons">timer</i></div>
        <div class="col l3 s2"><i class="material-icons">person</i></div>
        <div class="col l3 s2"><i class="material-icons">pending</i></div>
      </div>-->
      <!-- <div *ngFor="let user of users$ | async | filterUserName: searchName">
        <ul class="collapsible" data-collapsible="expandable">

          <li>
            <div class="collapsible-header">
              header
            </div>
            <div class="collapsible-body">
              body
            </div>
          </li>
        </ul>
      </div>-->
      <ng-container>
        <ul class="collapsible" data-collapsible="expandable">
          <li
            *ngFor="let booking of bookings$ | async | filterDate:searchDate | filterStatus:searchStatus | filterMassage: searchMassage">
            <div class="collapsible-header">
              <div class="col l3 s4">
                {{booking.date}}
              </div>
              <div class="col l2 s3">
                {{booking.time}}
              </div>
              <div class="col l3 s5">
                <ng-container *ngFor="let user of users$|async |filterUserName: searchName">
                  <span *ngIf="user.id===booking.userUid">{{user.firstName}} {{user.lastName}}</span>
                </ng-container>
              </div>
              <div class="col l4 hide-on-small-and-down">
                <span *ngIf="booking.status==='confirmed'" class="bookingStatusConfirmed">{{booking.status}}</span>
                <span *ngIf="booking.status==='pending'" class="bookingStatusPending">{{booking.status}}</span>
                <span *ngIf="booking.status==='cancelled'" class="bookingStatusCancelled">{{booking.status}}</span>
              </div>
            </div>
            <div class="collapsible-body">
              <div class="row bookingRow hide-on-med-and-up show-on-small center center-block center-align">
                <div class="col s12">
                  <span *ngIf="booking.status==='confirmed'" class="bookingStatusConfirmed">{{booking.status}}</span>
                  <span *ngIf="booking.status==='pending'" class="bookingStatusPending">{{booking.status}}</span>
                  <span *ngIf="booking.status==='cancelled'" class="bookingStatusCancelled">{{booking.status}}</span>
                </div>
              </div>
              <div class="row">
                <div class="col s6">
                  <p class="bookingRow">{{booking.massage}}</p>
                </div>
                <div class="col s6">
                  <p class="bookingRow">{{booking.duration}} minuten</p>
                </div>
              </div>
              <div class="row">
                <div class="row center-align">
                  <div class="col s12">
                    <h6><strong class="teal-text">Boodschap</strong></h6>
                  </div>
                </div>
                <div class="row bookingRow center-align">
                  <div class="col s12">
                    <p>{{booking.personalMessage}}</p>
                  </div>
                </div>
              </div>
              <div class="row center-block center-align">
                <div class="col s4">
                  <a class="btn-small waves-light waves-effect" (click)="confirmBooking(booking.id)">Confirm
                  </a>
                </div>
                <div class="col s4">
                  <a class="btn-small waves-light waves-effect" (click)="cancelBooking(booking.id)">Cancel</a>
                </div>
                <div class="col s4">
                  <a class="btn-small waves-light waves-effect" (click)="deleteBooking(booking.id)">Delete</a>
                </div>
              </div>
              <div class="row">
                <div class="col s12 center-block center">
                  <form>
                    <div class="input-field">
                      <label for="msgForClient">informatie voor de klant</label>
                      <textarea id="msgForClient" class="materialize-textarea"></textarea>
                    </div>
                    <button class="btn-large">Submit</button>
                  </form>
                </div>
              </div>

            </div>
          </li>

        </ul>
      </ng-container>
      <div *ngFor="let booking of bookings$|async|filterDate:searchDate|filterStatus:searchStatus">
        <div *ngFor="let user of users$|async|filterUserName:searchName">
          <div *ngIf="booking.status!=='DELETED'">

            <!--<a (click)="openViewBookingModal(booking.id!, user.id!)">
              <div class="row overviewrow center" *ngIf="user.id == booking.userUid">
                <div class="col l2 s3"><small>{{booking.date}}</small></div>
                <div class="col l1 s2"> {{booking.time}}</div>
                <div class="col l2 s1 overviewcol"> {{booking.massage}}</div>
                <div class="col l1 s2"> {{booking.duration}}</div>
                <div class="col l3 s2 overviewcol">{{user?.firstName}} {{user?.lastName}}</div>
                <div class="col l3 s2 overviewcol">{{booking.status}}</div>
              </div>
            </a>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="viewBookingModal" class="modal">
  <div class="modal-content">
    <div class="row">
      <div *ngIf="selectedBooking as booking">
        <div *ngIf="selectedUser as user">
          <div class="row teal lighten-3 white-text overviewheadrow">
            <div class="col m12 overviewcol center"><strong>{{user.firstName}} {{user.lastName}}</strong></div>
          </div>
          <div class="row teal lighten-3 white-text overviewheadrow">
            <div class="col m2"><strong>Datum</strong></div>
            <div class="col m2"><strong>Tijd</strong></div>
            <div class="col m3"><strong>Massage</strong></div>
            <div class="col m2"><strong>Duur</strong></div>
            <div class="col m3"><strong>Status</strong></div>
          </div>
          <div class="row overviewrow">
            <div class="col m2 overviewcol">{{booking.date}}</div>
            <div class="col m2 overviewcol">{{booking.time}}</div>
            <div class="col m3 overviewcol">{{booking.massage}}</div>
            <div class="col m2  overviewcol">{{booking.duration}}</div>
            <div class="col m3  overviewcol">{{booking.status}}</div>
          </div>
          <div class="row teal lighten-3 white-text overviewheadrow">
            <div class="col m12 center"><strong>Boodschap</strong></div>
          </div>
          <div class="row overviewrow">
            <div class="col m12 overviewcol center">{{booking.personalMessage}}</div>
          </div>
          <div class="row">
            <div class="col m3 center">
              <a class="btn" *ngIf="booking.status!=='confirmed'" (click)="confirmBooking(booking.id)">Confirm</a>
            </div>
            <div class="col m3 center">
              <a class="btn" *ngIf="booking.status!=='cancelled'" (click)="cancelBooking(booking.id)">Cancel</a>
            </div>
            <div class="col m3 center">
              <a class="btn">Edit</a>
            </div>
            <div class="col m3 center">
              <a class="btn-small" (click)="deleteBooking(booking.id)"><small>DELETE</small></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
</div>
