<div class="container">
  <div class="row teal-text center"><h4>Timeslots Overview</h4></div>

  <div class="row center-block">
    <div class="col s12">
      <div class="row center overviewheadrow teal lighten-3 white-text show-on-medium-and-up hide-on-med-and-down">
        <div class="col l2"><strong>Datum</strong></div>
        <div class="col l3"><strong>Begin uur</strong></div>
        <div class="col l3"><strong>Eind uur</strong></div>
        <div class="col l2"></div>
        <div class="col l2"></div>
      </div>
      <div *ngFor="let timeslot of timeslots|async">
        <div class="row center overviewrow show-on-medium-and-up hide-on-small-and-down">
          <div class="col l2">{{timeslot.date}}</div>
          <div class="col l3">{{timeslot.startTime}}</div>
          <div class="col l3">{{timeslot.endTime}}</div>
          <div class="col l2"><a class="btn btn-small waves-effect waves-light"
                                 (click)="openAdjustTimeslotModal(timeslot.id)">adjust</a></div>
          <div class="col l2"><a class="btn btn-small  waves-effect waves-light"
                                 (click)="openRemoveTimeslotModal(timeslot.id)">remove</a></div>
        </div>

        <div class="row center overviewrow show-on-small hide-on-med-and-up">
          <div class="col s12">{{timeslot.date}}</div>
          <div class="row">
            <div class="col s6">{{timeslot.startTime}}</div>
            <div class="col s6">{{timeslot.endTime}}</div>
          </div>
          <div class="row">
            <div class="col s6">
              <a class="btn btn-small waves-effect waves-light"
                 (click)="openAdjustTimeslotModal(timeslot.id)">adjust</a>
            </div>
            <div class="col s6">
              <a class="btn btn-small  waves-effect waves-light"
                 (click)="openRemoveTimeslotModal(timeslot.id)">remove</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col l4"></div>
  </div>

</div>
<div class="modal" id="adjustTimeslotModal">
  <div class="modal-content">
    <div class="row center-block center center-align">
      <div class="col m12">
        <label>Date</label>
        <form [formGroup]="adjustTimeslotForm" (submit)="adjustTimeSlotModal()">
          <div class="row">
            <div class="col m4">
              <div class="input-field">
                <input id="day" formControlName="day" type="text" class="input validate">
                <label for="day">day (dd)</label>
              </div>
            </div>
            <div class="col m4">
              <div class="input-field">
                <input id="month" formControlName="month" type="text" class="input validate">
                <label for="month">month (MM)</label>
              </div>
            </div>
            <div class="col m4">
              <div class="input-field">
                <input id="year" formControlName="year" type="text" class="input validate">
                <label for="year">year (yyyy)</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col m3">
              <label>Start Time</label>
              <div class="input-field">
                <input id="startHour" formControlName="startHour" type="text" class="input validate">
                <label for="startHour">Hour (hh)</label>
              </div>
              <div class="input-field">
                <input id="startMinutes" formControlName="startMinutes" type="text" class="input validate"
                      >
                <label for="startMinutes">Minutes (mm)</label>
              </div>
            </div>
            <div class="col m3">
              <label>End Time</label>
              <div class="input-field">
                <input id="endHour" formControlName="endHour" type="text" class="input validate">
                <label for="endHour">Hour (hh)</label>
              </div>
              <div class="input-field">
                <input id="endMinutes" formControlName="endMinutes" type="text" class="input validate">
                <label for="endMinutes">Minutes (mm)</label>
              </div>
            </div>
          </div>

          <button type="submit" class="btn  waves-effect waves-light">adjust timeslot</button>
        </form>
      </div>
    </div>

  </div>
  <div class="modal-footer">

  </div>
</div>

<div class="modal" id="removeTimeslotModal">
  <div class="modal-content">
    <div class="container">
      Weet je het zéker?<br>
      <a class="btn btn-small waves-effect waves-light" (click)="removeTimeslot()">remove timeslot</a>
    </div>
  </div>
  <div class="modal-footer">

  </div>
</div>
