<div class="container">
  <div class="row teal-text center"><h4>Timeslots Overview</h4></div>

  <div class="row center-block">
    <div class="col s12">
      <div class="row center overviewheadrow teal lighten-3 white-text">
        <div class="col l2"><strong>Datum</strong></div>
        <div class="col l3"><strong>Begin uur</strong></div>
        <div class="col l3"><strong>Eind uur</strong></div>
      </div>
      <div *ngFor="let timeslot of timeslots|async">
          <div class="row center overviewrow">
            <div class="col l2">{{timeslot.date}}</div>
            <div class="col l3">{{timeslot.startTime}}</div>
            <div class="col l3">{{timeslot.endTime}}</div>
          </div>
      </div>
    </div>
    <div class="col l4"></div>
  </div>

</div>
