<div class="container">
  <div class="row"></div>
  <div class="row">
    <div class="col bookingRow s12">
      <h5>Bedrijfsinformatie</h5><br>
      <div class="row">
        <div class="col s6"><small>Éénmanszaak</small></div>
        <div class="col s6">Sorelax</div>
      </div>
      <div class="row">
        <div class="col s6"><small>Btw</small></div>
        <div class="col s6">BE0741 404 553</div>
      </div>
      <div class="row">
        <div class="col s6"><small>Bankrekening</small></div>
        <div class="col s6">BE88 0018 8058 1941</div>
      </div>
    </div>
  </div>
  <div class="row bookingRow">
    <div class="col">
      <h5>Openingsuren</h5><br>
      <p>Ondanks mijn andere job, waarbij ik glijdende uren heb,<br>
        variëren mijn werkuren bij massagesalon Sorelax.<br>
        Gelieve tijdig contact op te nemen via mail of telefoon. <br>
        Zo vinden we zeker een passende afspraak voor ons beide.<br><br>
        Bedankt voor uw begrip.</p>
    </div>
  </div>


  <div class="row bookingRow">
    <div class="col s12">
      <h5>Contactgegevens</h5><br>
      <div class="row">
        <div class="col s4">e-mail</div>
        <div class="col s6"><a class="contact" href="mailto:info@sorelax.be">info@sorelax.be</a></div>
      </div>
      <div class="row">
        <div class="col s4">gsm-nr</div>
        <div class="col s6">(+32) 0484/40.44.81</div>
      </div>
      <div class="row">
        <div class="col s4">facebook</div>
        <div class="col s6 "><a class="contact" href="https://www.facebook.com/SorelaxSofie" target="_blank">Sorelax</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">

    <div class="col bookingRow">
      <div class="col">
        <p class="contactxt">Sorelax bevindt zich op Nieuwpoortsesteenweg 68 te Oostende.</p>
        <p class="contactxt">Op de Nieuwpoortsesteenweg moet u betalen om de auto te parkeren tot 20u.</p>
      </div>
      <div class="col">
        <p class="contactxt">In de zijstraten van de Belle Epoque-gebouwen, kan u gratis parkeren.</p>
        <p class="contactxt">Opgepast met zones die enkel voor bewoners bestemd zijn.</p>
      </div>
    </div>
  </div>
    <div class="row">
    <div class="col">
      <a
        href="https://www.google.be/maps/place/Nieuwpoortsesteenweg+68,+8400+Oostende/@51.2240034,2.9009781,15.75z/data=!4m5!3m4!1s0x47dcaf2d8aba6559:0xeed4725a4364d927!8m2!3d51.2233188!4d2.9057804"
        target="_blank">
        <img src="../../../assets/img/sorelax_map_small.jpg" class="map"></a>
    </div>
    </div>



</div>
