<div class="row center">
  <h3>User overview</h3>
</div>
<div class="row">
  <div class="col s3"></div>
  <div class="col s6">
    <div *ngFor="let user of users|async">
      <div class="row">
        <div class="col s3"><label>Firstname</label></div>
        <div class="col s3"><label>LastName</label></div>
        <div class="col s3"><label>ID</label></div>
        <div class="col s3"><label>Role</label></div>
      </div>
      <a [routerLink]="['../',user.uid,'profile']">
        <div class="row">
          <div class="col s3">{{user.firstName}}</div>
          <div class="col s3">{{user.lastName}}</div>
          <div class="col s3">{{user.uid}}</div>
          <div class="col s3">{{user.role}}</div>
        </div>
      </a>
    </div>
    <div class="col s3"></div>
  </div>
</div>

