<div class="slider">
  <ul class="slides">
    <li>
      <img src="../../../assets/img/1.jpg">
      <div class="caption center-align white-text">
        <i class="large material-icons">spa</i>
        <h1>sorelax</h1>
        <h5>It's so good to relax</h5>
      </div>
    </li>
    <li>
      <img src="../../../assets/img/2.jpg">
      <div class="caption center-align white-text">
        <i class="large material-icons">spa</i>
        <h1>sorelax</h1>
        <h5>It's so good to relax</h5>
      </div>
    </li>
    <li>
      <img src="../../../assets/img/3.jpg">
      <div class="caption center-align white-text">
        <i class="large material-icons">spa</i>
        <h1>sorelax</h1>
        <h5>It's so good to relax</h5>
      </div>
    </li>
    <li>
      <img src="../../../assets/img/4.jpg">
      <div class="caption center-align white-text">
        <i class="large material-icons">spa</i>
        <h1>sorelax</h1>
        <h5>It's so good to relax</h5>
      </div>
    </li>
    <li>
      <img src="../../../assets/img/5.jpg">
      <div class="caption center-align white-text">
        <i class="large material-icons">spa</i>
        <h1>sorelax</h1>
        <h5>It's so good to relax</h5>
      </div>
    </li>
  </ul>
</div>

<div class="row teal-text">
  <div class="col s3 right-align">
    <i class="medium material-icons">home</i>
  </div>
  <div class="col s6"><h5>Welkom bij Sorelax.</h5></div>
</div>
<div class="row">
  <div class="col l3"></div>
  <div class="col l6">
    Even nood aan een ontspanningsmoment,<br>
    een pauze, een moment waarbij u de tijd en zorgen even kan uitschakelen?
    Bekijk gerust de opstart van de zaak, mooie foto’s van het salon,
    de prijzen en meer over mijzelf als persoon en masseuse.
    <p>Om een boeking te maken, geef gerust een seintje op 0484/40.44.81 of info@sorelax.be
  </div>
  <div class="col l3"></div>
</div>
<div class="parallax-container">
  <div class="parallax"><img class="responsive-img" src="../../../assets/img/home/woods.jpg" alt="">
  </div>
</div>
