<div class="slider">
  <ul class="slides">
    <li>
      <img src="../../../assets/img/1.jpg">
      <div class="caption center-align white-text">
        <i class="large material-icons">spa</i>
        <h1>sorelax</h1>
        <h5>It's so good to relax</h5>
      </div>
    </li>
    <li>
      <img src="../../../assets/img/2.jpg">
      <div class="caption center-align white-text">
        <i class="large material-icons">spa</i>
        <h1>sorelax</h1>
        <h5>It's so good to relax</h5>
      </div>
    </li>
    <li>
      <img src="../../../assets/img/3.jpg">
      <div class="caption center-align white-text">
        <i class="large material-icons">spa</i>
        <h1>sorelax</h1>
        <h5>It's so good to relax</h5>
      </div>
    </li>
    <li>
      <img src="../../../assets/img/4.jpg">
      <div class="caption center-align white-text">
        <i class="large material-icons">spa</i>
        <h1>sorelax</h1>
        <h5>It's so good to relax</h5>
      </div>
    </li>
    <li>
      <img src="../../../assets/img/5.jpg">
      <div class="caption center-align white-text">
        <i class="large material-icons">spa</i>
        <h1>sorelax</h1>
        <h5>It's so good to relax</h5>
      </div>
    </li>
  </ul>
</div>
<div class="container center-block">
  <div class="row teal-text">
    <div class="col s3 right-align">
      <i class="medium material-icons">home</i>
    </div>
    <div class="col s6"><h5>Welkom bij Sorelax.</h5></div>
  </div>



  <div class="row">
    <div class="col m8 bookingRow">
      <h5>Even nood aan een ontspanningsmoment?</h5><br>
      <h6>Een pauze, een moment waarbij u de tijd en zorgen even kan uitschakelen?</h6><br>
      <h6>Bekijk gerust de opstart van de zaak, mooie foto’s van het salon,
        de prijzen en meer over mijzelf als persoon en masseuse.</h6>
    </div>
    <div class="col m4 center-align">
      <img class="sofie show-on-medium-and-up hide-on-small-and-down" src="../../../assets/img/profiel.jpg" width="100%"
           height="100%">
      <img class="sofie show-on-small hide-on-med-and-up" src="../../../assets/img/profiel.jpg" width="100%"
           height="100%" style="margin-top: 2%">
    </div>
  </div>
</div>
