<div class="row"></div>
<div class="row">

  <div class="col s3"></div>
  <div class="col s6">
    <div class="row">
      <div class="col s3"><label>Firstname</label></div>
      <div class="col s3"><label>Lastname</label></div>
    </div>
    <div class="row">
      <div class="col s3"><strong>{{userFirstName}}</strong></div>
      <div class="col s3"><strong>{{userLastName}}</strong></div>
    </div>
    <div class="row">
      <div class="col s3"><label>Date of Birth</label></div>
    </div>
    <div class="row">
      <div class="col s3">{{userDateOfBirth}}</div>
    </div>
    <div class="row">
      <div class="col s3"><label>User ID</label></div>
      <div class="col s3"><label>Role</label></div>
    </div>

    <div class="row">
      <div class="col s3">{{userId}}</div>
      <div class="col s3">{{userRole}}</div>
    </div>
    <div class="row">
      <div class="col s3">
        <label>E-mail</label></div>
      <div class="col s3">
        <label>Phonenumber</label></div>
    </div>
    <div class="row">
      <div class="col s3">
        {{userEmail}}</div>
      <div class="col s3">
        {{userPhoneNumber}}
      </div>
    </div>
    <div class="row">
      <div class="col">
      Address
      </div>
    </div>
    <div class="row">
      <div class="col s3">
        <label>Street</label>
      </div>
      <div class="col s2">
        <label>House Nr.</label>
      </div>
      <div class="col s2">
        <label>Postbox</label>
      </div>
    </div>
    <div class="row">
      <div class="col s3">
        {{userAddress.street}}
      </div>
      <div class="col s3">
        {{userAddress.houseNumber}}
      </div>
      <div class="col s3">
        {{userAddress.postBox}}
      </div>
    </div>
    <div class="row">
      <div class="col s3">
        <label>Postal code</label>
      </div>
      <div class="col s3">
        <label>City</label>
      </div>
      <div class="col s3">
        <label>Country</label>
      </div>
    </div>
    <div class="row">
      <div class="col s3">
        {{userAddress.postalCode}}
      </div>
      <div class="col s3">
        {{userAddress.city}}
      </div>
      <div class="col s3">{{userAddress.country}}
      </div>
    </div>
  </div>
  <div class="col s3"></div>
</div>
