<div class="container">
  <div class="row">
    <div class="col s12 teal-text"><h3 class="center">My profile</h3></div>
  </div>
  <div class="row" *ngIf="user|async as user">
    <form [formGroup]="editProfileForm">
      <div class="row">
        <div class="col l1 s2">
          <button class="btn waves-effect waves-light" *ngIf="!isEditable" (click)="editProfile()"><i
            class="white-text material-icons">edit</i></button>
          <button class="btn waves-effect waves-light" *ngIf="isEditable" (click)="saveProfile()"
                  [disabled]="!editProfileForm.valid"><i class="white-text material-icons medium">save</i></button>
        </div>
        <div class="col l6 s2">
          <button class="btn waves-effect waves-light" *ngIf="isEditable" (click)="clearForm()"><i
            class="white-text material-icons medium">clear</i></button>
        </div>
        <div class="col s4">
          <a *ngIf="isEditable" class="btn-small" (click)="openChangePasswordModal()"><small>verander
            paswoord</small></a>
        </div>
        <div class="col l1 s2">
          <button *ngIf="isEditable" class="btn waves-effect waves-red" (click)="unregisterProfile()"><i
            class="white-text material-icons">delete</i></button>
        </div>
      </div>
      <div class="row teal lighten-3 white-text overviewheadrow">
        <div class="col s6">Firstname</div>
        <div class="col s6">Lastname</div>
      </div>
      <div class="row overviewrow">
        <div class="col s6"><strong>{{user.firstName}}</strong></div>
        <div class="col s6"><strong>{{user.lastName}}</strong></div>
        <div class="input-field" *ngIf="isEditable">
          <div class="col s6">
            <input class="input validate teal-text" formControlName="firstName" type="text">
            <div *ngIf="firstName!.invalid && (firstName!.dirty || firstName!.touched)">
              <div *ngIf="firstName!.errors?.['required']" class="text-error red-text">
                <small>Voornaam is verplicht</small>
              </div>
              <div *ngIf="firstName!.errors?.['pattern']" class="text-error red-text">
                <small>Voornaam mag enkel letters bevatten (a-z).</small>
              </div>
            </div>
          </div>
          <div class="col s6">
            <input class="input validate teal-text" formControlName="lastName" type="text">
            <div *ngIf="lastName!.invalid && (lastName!.dirty || lastName!.touched)">
              <div *ngIf="lastName!.errors?.['required']" class="text-error red-text">
                <small>Familienaam is verplicht.</small>
              </div>
              <div *ngIf="lastName!.errors?.['pattern']" class="text-error red-text">
                <small>Familienaam mag enkel letters bevatten (a-z).</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row  teal lighten-3 white-text overviewheadrow">
        <div class="col l6">Date of Birth</div>
      </div>
      <div class="row overviewrow">
        <div class="col s6">{{user.dateOfBirth}}</div>
        <br>
        <div *ngIf="isEditable" class="input-field col s6">
          <input class="datepicker validate teal-text" type="text" formControlName="dateOfBirth">
          <div *ngIf="dateOfBirth!.invalid && (dateOfBirth!.dirty || dateOfBirth!.touched)">
            <div *ngIf="dateOfBirth!.errors?.['required']" class="text-error red-text">
              <small>Geboortedatum is verplicht</small>
            </div>
          </div>
        </div>
      </div>
      <div class="row  teal lighten-3 white-text overviewheadrow">
        <div class="col l6 s6">User ID</div>
        <div class="col l6 s3">Role</div>
      </div>
      <div class="row overviewrow">
        <div class="col l6 s6">{{user.id}}</div>
        <div class="col l6 s6">{{user.role}}</div>
      </div>
      <div class="row  teal lighten-3 white-text overviewheadrow">
        <div class="col s6">
          E-mail
        </div>
        <div class="col s6">
          Phonenumber
        </div>
      </div>
      <div class="row overviewrow">
        <div class="row">
          <div class="col s6">
            {{user.email}}</div>
          <div class="col s6">
            {{user.phoneNumber}}
          </div>
        </div>
        <div class="row">
          <div *ngIf="isEditable">
            <div class="col s6 input-field">
              <div class="input-field inline">
                <input class="input validate teal-text" formControlName="email" type="email"
                       placeholder="{{user.email}}">
                <div *ngIf="email!.invalid && (email!.dirty || email!.touched)">
                  <div *ngIf="email!.errors?.['required']" class="text-error red-text">
                    <small>E-mail is verplicht.</small>
                  </div>
                  <div *ngIf="email!.errors?.['pattern'] || email!.errors?.['email']" class="text-error red-text">
                    <small>E-mail moet bestaan uit een correct e-mail formaat: naam@domein.extensie</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col s6 input-field">
              <div class="input-field inline">
                <input class="input validate teal-text" formControlName="phoneNumber" type="text"
                       placeholder="{{user.phoneNumber}}">
                <div *ngIf="phoneNumber!.invalid && (phoneNumber!.dirty || phoneNumber!.touched)">
                  <div *ngIf="phoneNumber!.errors?.['required']" class="text-error red-text">
                    <small>Telefoon/GSM nummer is verplicht.</small>
                  </div>
                  <div *ngIf="phoneNumber!.errors?.['pattern']" class="text-error red-text">
                    <small>Telefoon/GSM nummer mag enkel cijfers bevatten (0-9).</small>
                  </div>
                  <div *ngIf="phoneNumber!.errors?.['minlength']" class="text-error red-text">
                    <small>Telefoon/GSM nummer moet uit minimum 6 cijfers bestaan.</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row teal lighten-3 white-text overviewheadrow">
        <div class="col s4">
          Street
        </div>
        <div class="col s3">
          Nr.
        </div>
        <div class="col s3">
          Postbox
        </div>
      </div>
      <div formGroupName="address">
        <div class="row overviewrow">
          <div class="col s4">
            {{user.address.street}}
          </div>
          <div class="col s3">
            {{user.address.houseNumber}}
          </div>
          <div class="col s3">
            {{user.address.postBox}}
          </div>
          <br>
          <div class="input-field" *ngIf="isEditable">
            <div class="col s4">
              <input class="input validate teal-text" formControlName="street" type="text"
                                       placeholder="{{user.address.street}}">
              <div *ngIf="street!.invalid && (street!.dirty || street!.touched)">
                <div *ngIf="street!.errors?.['required']" class="text-error red-text">
                  <small>Straat is verplicht.</small>
                </div>
              </div>
            </div>
            <div class="col s3">
              <input class="input validate teal-text" formControlName="houseNumber" type="text"
                                       placeholder="{{user.address.houseNumber}}">
              <div *ngIf="houseNr!.invalid && (houseNr!.dirty || houseNr!.touched)">
                <div *ngIf="houseNr!.errors?.['required']" class="text-error red-text">
                  <small>Huis nummer is verplicht.</small>
                </div>
                <div *ngIf="houseNr!.errors?.['minlength']" class="text-error red-text">
                  <small>Huis nummer moet uit minimum 1 cijfer bestaan.</small>
                </div>
                <div *ngIf="houseNr!.errors?.['minlength']" class="text-error red-text">
                  <small>Huis nummer moet groter of gelijk zijn aan 1.</small>
                </div>
              </div>
            </div>
            <div class="col s3">
              <input class="input teal-text" formControlName="postBox" type="text"
                                       placeholder="{{user.address.postBox}}">
            </div>
          </div>
        </div>
        <div class="row  teal lighten-3 white-text overviewheadrow">
          <div class="col s4">
            City
          </div>
          <div class="col s3">
            Postal code
          </div>
          <div class="col s3">
            Country
          </div>
        </div>
        <div class="row overviewrow">
          <div class="col s4">
            {{user.address.city}}
          </div>
          <div class="col s3">
            {{user.address.postalCode}}
          </div>
          <div class="col s3">{{user.address.country}}
          </div>
          <div class="input-field" *ngIf="isEditable">
            <div class="col s4">
              <input class="input validate teal-text" formControlName="city" type="text"
                                       placeholder="{{user.address.city}}">
              <div *ngIf="city!.invalid && (city!.dirty || city!.touched)">
                <div *ngIf="city!.errors?.['required']" class="text-error red-text">
                  <small>Stad is verplicht.</small>
                </div>
                <div *ngIf="city!.errors?.['pattern']" class="text-error red-text">
                  <small>Stad mag enkel uit letters bestaan (a-z).</small>
                </div>
              </div>
            </div>
            <div class="col s3">
              <input class="input validate teal-text" formControlName="postalCode" type="text"
                                       placeholder="{{user.address.postalCode}}">
              <div *ngIf="postalCode!.invalid && (postalCode!.dirty || postalCode!.touched)">
                <div *ngIf="postalCode!.errors?.['required']" class="text-error red-text">
                  <small>Postcode is verplicht.</small>
                </div>
              </div>
            </div>
            <div class="col s3">
              <input class="input validate teal-text" formControlName="country" type="text"
                                       placeholder="{{user.address.country}}">
              <div *ngIf="country!.invalid && (country!.dirty || country!.touched)">
                <div *ngIf="country!.errors?.['required']" class="text-error red-text">
                  <small>Land is required.</small>
                </div>
                <div *ngIf="country!.errors?.['pattern']" class="text-error red-text">
                  <small>Land mag enkel uit letters bestaan (a-z).</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col l1 s2">
          <button class="btn waves-effect waves-light" *ngIf="!isEditable" (click)="editProfile()"><i
            class="white-text material-icons">edit</i></button>
          <button class="btn waves-effect waves-light" *ngIf="isEditable" (click)="saveProfile()"
                  [disabled]="!editProfileForm.valid"><i class="white-text material-icons medium">save</i></button>
        </div>
        <div class="col l10 s8">
          <button class="btn waves-effect waves-light" *ngIf="isEditable" (click)="clearForm()"><i
            class="white-text material-icons medium">clear</i></button>
        </div>
        <div class="col l1 s2">
          <button *ngIf="isEditable" class="btn waves-effect waves-red" (click)="unregisterProfile()"><i
            class="white-text material-icons">delete</i></button>
        </div>
      </div>
    </form>
  </div>

  <div id="unregisterModal" class="modal">
    <div class="modal-content">
      Bent u zeker dat u uw profiel wilt verwijderen?
      <br>
      <form [formGroup]="unRegisterPasswordForm">
        <label>Vul uw paswoord in</label>
        <input class="input" formControlName="deleteUserPassword" type="password">
        <button class="btn waves-light waves-effect" (click)="confirmUnregisterProfile()">Verwijder profiel</button>
      </form>

    </div>
    <div class="modal-footer">
    </div>
  </div>

  <div id="confirmEmailChangeModal" class="modal">
    <div class="modal-content">
      Gelieve uw paswoord te bevestigen om uw e-mail adres te veranderen.
      <form [formGroup]="confirmPasswordForm">
        <label>Vul uw paswoord in</label>
        <input class="input" formControlName="password" type="password">
        <button class="btn waves-light waves-effect" (click)="setPasswordForEmailChange()">Bevestig paswoord</button>
      </form>
    </div>
    <div class="modal-footer">
    </div>
  </div>

  <div id="changePasswordModal" class="modal">
    <div class="modal-content">
      <div class="container">
        <div class="row center-align center-block">
          <div class="col">
            <form [formGroup]="changePasswordForm">
              <label>Vul uw huidig paswoord in</label>
              <input class="input validate" formControlName="currentPassword" type="password">
              <div *ngIf="currentPassword!.invalid && (currentPassword!.dirty || currentPassword!.touched)">
                <div *ngIf="currentPassword!.errors?.['required']" class="text-error red-text">
                  <small>Paswoord is verplicht.</small>
                </div>
              </div>
              <label>Vul uw nieuw paswoord in</label>
              <input class="input validate" formControlName="newPassword" type="password">
              <div *ngIf="newPassword!.invalid && (newPassword!.dirty || newPassword!.touched)">
                <div *ngIf="newPassword!.errors?.['required']" class="text-error red-text">
                  <small>Paswoord is verplicht.</small>
                </div>
                <div *ngIf="newPassword!.errors?.['pattern']" class="text-error red-text">
                  <small>Paswoord moet bestaan uit min: 8 karakters, 1 hoofdletter, 1 kleine letter, 1 cijfer, 1
                    speciaal teken.</small>
                </div>
              </div>
              <label>Bevestig uw nieuw paswoord</label>
              <input class="input validate" formControlName="newPasswordConfirmation" type="password">
              <div
                *ngIf="newPasswordConfirmation!.invalid && (newPasswordConfirmation!.dirty || newPasswordConfirmation!.touched)">
                <div *ngIf="newPasswordConfirmation!.errors?.['required']" class="text-error red-text">
                  <small>Paswoord is verplicht.</small>
                </div>
                <div *ngIf="newPasswordConfirmation!.errors?.['pattern']" class="text-error red-text">
                  <small>Paswoord moet bestaan uit min: 8 karakters, 1 hoofdletter, 1 kleine letter, 1 cijfer, 1
                    speciaal teken.</small>
                </div>
              </div>

              <button class="btn waves-light waves-effect" [disabled]="!changePasswordForm.valid"
                      (click)="changePassword()">Bevestig
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
    </div>
  </div>

</div>
