<button routerLink="/home">
  Home
</button>

<form [formGroup]="signupForm">
  <label>Firstname</label>
  <input autocomplete="on" formControlName="firstName" type="text" placeholder="Firstname">
  <label>LastName</label>
  <input autocomplete="on" formControlName="lastName" type="text" placeholder="Lastname">
  <label>Date Of Birth</label>
  <input autocomplete="on" formControlName="dateOfBirth" type="text" placeholder="Date of birth">
  <label>Phone number</label>
  <input autocomplete="on" formControlName="phoneNumber" type="text" placeholder="Phone number">
  <label>Address</label>
  <input autocomplete="on" formControlName="address" type="text" placeholder="Address">
  <label>Email</label>
  <input autocomplete="on" formControlName="email" type="email" placeholder="Email">
  <label>Password</label>
  <input autocomplete="off" formControlName="password" type="password" placeholder="Password">
  <div *ngIf="firebaseErrorMessage != ''" class="error-style">
    <span>{{ firebaseErrorMessage }}</span>
  </div>
  <button (click)="signupUser()">Signup</button>
</form>
