html, body {
  height: 100%;
  min-height: 100%;
}

div {
  word-break: break-word;
}

.slider .indicators .indicator-item.active {
  background-color: #009688;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.about {
  font-size: larger;
  padding: 2px;
  border-bottom: 1px teal dashed;
  border-radius: 6px;
  transition-property: background-color;
  transition-duration: 0.8s;
}

.about:hover {
  background-color: #e1f5f5;
}

.bookingStatusCancelled {
  text-decoration: line-through;
  background-color: #ef5757;
  color: white;
  border-radius: 10px;
  padding: 4px;
}
.bookingStatusConfirmed {
  font-weight: bold;
  background-color: #50beb4;
  color: white;
  border-radius: 10px;
  padding: 4px;
}
.bookingStatusPending {
  font-style: italic;
  background-color: slategrey;
  color: white;
  border-radius: 10px;
  padding: 4px;
}

.bookingData{
  background-color: #ffffff;
  color: #50beb4;
  font-weight: bold;
  border-radius: 20px;
  padding: 6px;
}

.bookingSelectionInfo{
  border-radius: 20px;
  border: 2px #50beb4 solid;
  background-color: #ffffff;
  color: teal;
  font-weight: bold;
}

.sofiesignature {
  margin-top: 2%;
  color: #78d9d9;
  font-style: italic;
  font-size: xx-large;
}

.massageprice {
  border-radius: 20px;
  background-color: #e1f5f5;
  padding: 6px;
  margin-top: 10px;
  color: #50beb4;
  font-weight: bold;
}
.bookingRow{
  font-size: larger;
  color: teal;
  background-color: #e1f5f5;
  border: 6px solid #97d2d2;
  border-radius: 20px;

}
.massagedescription {
  font-size: larger;
  color: teal;
  border-radius: 20px;
  border: 6px solid #e1f5f5;
  transition-property: background-color;
  transition-duration: 0.8s;
}

.massagedescription:hover {
  background-color: #e1f5f5;
}
.selectmassagelink{
  color:white;
  background-color: teal;
  border: 1px white solid;
  border-radius: 6px;
  transition-property: background-color;
  transition-duration: 0.8s;
}
.selectmassagelink:hover{
  color: teal;
  background-color: #5ecece;
  border: 1px white solid;
  border-radius: 6px;
  font-weight: bold;
}
.sidenav-trigger {
  color: #26a69a;
}

#index-banner .section {
  top: 10%;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.mybookingwarning {
  border: 1px solid teal;
  border-radius: 4px;
  font-style: italic;
}


.collapsible {
  border-radius: 2px;
  background-color: #fff;
  padding: 0;
}

.collapsible-header {
  background-color: #00acc1;
  margin: 0;
}

.collapsible-body {
  margin: 0;
  padding: 0;
}

.overviewheadrow {
  border-radius: 6px;
  font-size: larger;
}

.overviewrow {
  color: #000000;
  border: 1px solid teal;
  border-radius: 6px;
  transition-property: background-color;
  transition-duration: 1s;

}

.overviewrow:hover {
  background-color: #c1eae6;
  color: #0dbdbd;
}

.overviewcol {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mobile-user-nav {
  background-color: #f7fffd;
  color: #0dbdbd;
  border: 1px solid #ffffff;
  width: 90%;
  height: 90%;
  margin-left: 5%;
}

a.mobile-user-nav-link {
  color: #0dbdbd;
}

#toast-container {
  top: 10%;
}

.custom-toast {
  background-color: #3cabab;
  color: white;
  font-weight: bold;
  text-align: center;
}

.parallax-container {
  height: 10%;
}
