html, body {
  height: 100%;
  min-height: 100%;
}

div {
  word-break: break-word;
}

.slider .indicators .indicator-item.active {
  background-color: #009688;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
  width: 100%;
}

#index-banner .section {
  top: 10%;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.mybookingwarning{
  border: 1px solid teal;
  border-radius: 4px;
  font-style: italic;
}


.collapsible {
  border-radius: 2px;
  background-color: #fff;
  padding: 0;
}

.collapsible-header {
  background-color: #00acc1;
  margin: 0;
}

.collapsible-body {
  margin: 0;
  padding: 0;
}

.overviewheadrow {
  border-radius: 6px;
  font-size: larger;
}

.overviewrow {
  color: #000000;
  border: 1px solid teal;
  border-radius: 6px;
  transition-property: background-color;
  transition-duration: 1s;

}

.overviewrow:hover {
  background-color: #c1eae6;
  color: #0dbdbd;
}

.overviewcol {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mobile-user-nav {
  background-color: #f7fffd;
  color: #0dbdbd;
  border: 1px solid #ffffff;
  width: 90%;
  height: 90%;
  margin-left: 5%;
}

a.mobile-user-nav-link {
  color: #0dbdbd;
}

#toast-container {
  top: 10%;
}

.custom-toast {
  background-color: #3cabab;
  color: white;
  font-weight: bold;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }

  .parallax-container {
    line-height: 0;
    height: 25%;
    color: rgba(255, 255, 255, .9);
  }

  .parallax-container .section {
    width: 100%;
    height: 25%;
  }
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
}
