html,body{
  height: 100%;
  min-height: 100%;
}
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.logosorelaxheader{
  background-image: url("../assets/img/topbg.jpg");
  background-repeat: no-repeat, repeat;
  background-size: 50%;
  background-position: left top;
}
.parallax-container {
  height: 20px;
}
.overviewheadrow{
  border-radius : 6px;
  padding: 2px;
  margin-bottom: 1%;
  font-size: larger;
}
.overviewrow{
  color: #000000;
  border: 1px solid teal;
  border-radius : 6px;
  padding: 1px;
  margin-bottom: 1%;
  transition-property: background-color;
  transition-duration: 1s;

}
.overviewrow:hover{
  background-color: #c1eae6;
  color: #0dbdbd;
}
.overviewcol{
  word-break: break-word;
}
.mobile-user-nav{
  background-color: #f7fffd;
  color : #0dbdbd;
  border: 1px solid #ffffff;
  width: 90%;
  height: 90%;
  margin-left: 5%;
}
a.mobile-user-nav-link{
  color: #0dbdbd;
}
#toast-container {
  top: 10%;
  right: 50%;
}
.custom-toast{
  background-color: #3cabab;
  color: white;
  font-weight: bold;
  text-align: center;
}
