<div class="parallax-container">
  <div class="container center white-text">
    <i class="large material-icons">whatshot</i>
    <h1>sorelax</h1>
  </div>
  <div class="parallax"><img class="responsive-img" src="../../assets/img/1.jpg" alt="">
  </div>
</div>

<div class="row teal-text">
  <div class="col s3 right-align">
  <i class="medium material-icons">home</i>
  </div>
  <div class="col s6"><h5>Welkom bij Sorelax.</h5></div>
</div>
<div class="row">
  <div class="col l3"></div>
  <div class="col l6">
    Even nood aan een ontspanningsmoment,<br>
      een pauze, een moment waarbij u de tijd en zorgen even kan uitschakelen?
    Bekijk gerust de opstart van de zaak, mooie foto’s van het salon,
      de prijzen en meer over mijzelf als persoon en masseuse.
    <p>Om een boeking te maken, geef gerust een seintje op 0484/40.44.81 of info@sorelax.be
  </div>
  <div class="col l3"></div>

</div>
